.footer {
  background: #fff;
  color: #000;
  text-align: center;
  padding: 2rem 0;
  border-top: 3px solid #000;
}

.footer p {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
