.App {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 4rem 0;
}

.section-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .section-title {
    font-size: 2rem;
  }
  
  section {
    padding: 3rem 0;
  }
}
